// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyDRWoCzBQ30tMHnHDr8E1DZdRM86g5-51Q",
  authDomain: "one-stack.firebaseapp.com",
  projectId: "one-stack",
  storageBucket: "one-stack.appspot.com",
  messagingSenderId: "847616465094",
  appId: "1:847616465094:web:e8f8d2e9b4bb64466b5fc7"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);

export default app;